{% extends "base.html" %}

{% block content %}
<div class="blog-list-section">
    <h2>Blog de Vehículos</h2>
    
    {% if blogs %}
        <ul class="blog-list">
            {% for blog in blogs %}
                <li>
                    <h3>{{ blog.titulo }}</h3>
                    <p>{{ blog.subtitulo }}</p>
                    <a href="{% url 'blog_detail' blog.id %}">Leer más</a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No hay publicaciones disponibles en este momento.</p>
    {% endif %}
</div>
{% endblock %}
